<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.donglu.mapper.VisitorControlMapper">
    <insert id="insert" parameterType="com.donglu.bean.VisitorBooking">
        INSERT INTO VisitorBooking (visitorName, visitorTime, IDCard, address, companyName, operaName, phone, reason, sex, cardUserId, userGroup, userName,status)
        VALUES
            (#{visitorName}, #{visitorTime}, #{IDCard}, #{address}, #{companyName}, #{operaName}, #{phone}, #{reason},
                             #{sex}, #{cardUserId}, #{userGroup}, #{userName}, #{status});
    </insert>
    <update id="update" parameterType="com.donglu.bean.VisitorBooking">
        UPDATE VisitorBooking
        SET visitorName   = #{visitorName},
            visitorTime   = #{visitorTime},
            IDCard        = #{IDCard},
            address       = #{address},
            companyName   = #{companyName},
            operaName     = #{operaName},
            phone         = #{phone},
            reason        = #{reason},
            sex           = #{sex},
            cardUserId    = #{cardUserId},
            userGroup     = #{userGroup},
            userName      = #{userName},
            status        = #{status}
        WHERE id = #{id};
    </update>
    <delete id="deleteVisitorBooking">
        DELETE FROM VisitorBooking WHERE id = #{id}
    </delete>
    <select id="findVisitorBookList" resultType="com.donglu.bean.VisitorBooking">
        SELECT * FROM VisitorBooking vb
        <include refid="whereVisitorBooking"/>
    </select>
    <select id="countVisitorBookList" resultType="java.lang.Long">
        SELECT count(1) FROM VisitorBooking
        <include refid="whereVisitorBooking"/>
    </select>
    <select id="findVisitorBooking" resultType="com.donglu.bean.VisitorBooking">
        SELECT * FROM VisitorBooking WHERE id = #{id}
    </select>
    <select id="findVisitor" resultType="com.donglu.bean.Visitor">
        select *
        from dbo.Visitor WHERE id = #{id};
    </select>
    <sql id="whereVisitorBooking">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="userName != null and userName != ''">
                AND userName = #{userName}
            </if>
            <if test="visitorName != null and visitorName != ''">
                AND visitorName = #{visitorName}
            </if>
            <if test="IDCard != null">
                AND IDCard = #{IDCard}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="visitorStartTime != null and visitorStartTime != ''">
                AND visitorTime >= #{visitorStartTime}
            </if>
            <if test="visitorEndTime != null and visitorEndTime != ''">
                AND visitorTime <![CDATA[<=]]> #{visitorEndTime}
            </if>
        </where>
    </sql>
</mapper>